extends base.pug

block content
  div
    video#preview
    button#startBtn Start Recording
  if errorMessage
    span=errorMessage
  form(method="POST" enctype="multipart/form-data")
    label(for="video") Video file 
    input(type="file", name="video", required, accept="video/*", id="video")
    input(type="text", name="title", required, placeholder="Title", maxlength=80)
    input(type="text", name="description", required, placeholder="Description", minlength=20)
    input(
      type="text",
      name="hashtags",
      required,
      placeholder="hashtags, seperated by comma"
    )
    input(type="submit", value="Upload Video")
block scripts
  script(src="/static/js/recorder.js")